<table class="table", style="width:50%">
<h4>
<thead>
  <tr>
    <th><h5>Commenter:  <%= comment.commenter %></h5></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><p><%= comment.body %></p>
      <%= link_to 'Delete comment', article_comment_path(comment.article, comment),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </td>
  </tr>
  <tr><td></td></tr>
</tbody>
</table>
